In [25]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [14]:
data = pd.read_csv('data/2018/201806-citibike-tripdata.csv')

In [15]:
data.head(5)

   tripduration    usertype  birth year  gender       time  distance
0           615  Subscriber        1989       2    morning      1.87
1          1958  Subscriber        1959       1  afternoon      4.82
2          1385    Customer        1969       0    morning      4.12
3           910  Subscriber        1967       1  afternoon      2.58
4          1413  Subscriber        1983       1  afternoon      3.38

In [16]:
data["age"] = 2018 - data["birth year"]
del data["birth year"]

In [17]:
data.head(5)

   tripduration    usertype  gender       time  distance  age
0           615  Subscriber       2    morning      1.87   29
1          1958  Subscriber       1  afternoon      4.82   59
2          1385    Customer       0    morning      4.12   49
3           910  Subscriber       1  afternoon      2.58   51
4          1413  Subscriber       1  afternoon      3.38   35

In [18]:
data = pd.get_dummies(data)

In [19]:
data.head(5)

,tripduration,gender,distance,age,usertype_Customer,usertype_Subscriber,time_afternoon,time_evening,time_morning,time_night
0,615,2,1.87,29,0,1,0,0,1,0
1,1958,1,4.82,59,0,1,1,0,0,0
2,1385,0,4.12,49,1,0,0,0,1,0
3,910,1,2.58,51,0,1,1,0,0,0
4,1413,1,3.38,35,0,1,1,0,0,0

In [22]:
k = int(0.8*len(data))
print(k)
y_train = data["distance"][:k]
y_test = data["distance"][k:]
del data["distance"]
x_train = data[:k]
x_test = data[k:]

1562482

In [23]:
print(len(x_train), len(x_test))

1562482 390621

In [26]:
model = LinearRegression()

model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [27]:
predict = model.predict(x_test)

In [28]:
print(model.coef_)

[ 1.99700427e-06  6.49825758e-02 -3.74477422e-03  1.36723552e-01
 -1.36723552e-01 -1.57471243e-02  4.54391760e-02  7.66896915e-02
 -1.06381743e-01]

In [29]:
print(metrics.mean_squared_error(y_test, predict))

2.2479500782375306

In [30]:
print(metrics.r2_score(y_test, predict))

0.005392589369810241

In [31]:
model.score(x_train, y_train)

0.005669010817631381

In [32]:
model.score(x_test, y_test)

0.005392589369810241