In [1]:
import pandas as pd

In [50]:
data = pd.read_csv('data/2018-citibike-tripdata.csv')

In [51]:
data.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.7834,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1

In [57]:
stations = {}
for i in range(len(data)):
    start_id = data['start station id'][i]
    end_id = data['end station id'][i]
    start_name = data['start station name'][i]
    end_name = data['end station name'][i]
    # print(start_id, " | ", start_name, " | ", end_id, " | ", end_name)
    for station_id in [[start_id, start_name], [end_id, end_name]]:
        try:
            int(station_id)
            if station_id[0] in stations:
                stations[station_id[0]][0] += 1
            else:
                stations[station_id[0]] = [1, station_id[1]]
        except:
            pass

In [58]:
print(len(stations))

0

In [54]:
values = [v for k, v in stations.items()]
print(sorted(values, reverse = True))

TypeError: unorderable types: str() < float()